<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
	<meta charset="{{ site.charset }}" />
		<title>   
			{% if wp_title %}
				{{ wp_title }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-140418707-1', 'auto');
	  ga('send', 'pageview');
	</script>

	<link rel="shortcut icon" href="{{ options.favicon }}">
  <link rel="apple-touch-icon-precomposed" href="{{ options.apple_touch_icon }}" />
  <meta name="apple-mobile-web-app-title" content="MATT SUKKAR">
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ site.theme.link }}/assets/css/main.css" type="text/css" media="screen" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="author" href="{{ site.theme.link }}/humans.txt" />
	<link rel="pingback" href="{{ site.pingback_url }}" />
	{{function('wp_head')}}
