<section class="block-image-text-overlay py-margin dark-bg flex-center">
	<div class="c-bg">
		{% if block.bg_type == 'photo' %}
			<img
				src="{{ TimberImage(block.bg_image).src('gw-sm-3-2') }}"
				srcset="{{ TimberImage(block.bg_image).src('gw-sm-3-2') }} 750w,
					{{ TimberImage(block.bg_image).src('gw-md-3-2') }} 1200w,
					{{ TimberImage(block.bg_image).src('gw-lg-3-2') }} 1500w"
			>
		{% elseif block.bg_type == 'video' %}
			<video class="cover" data-object-fit="cover" autoplay loop muted playsinline>
	      <source src="{{ block.bg_video }}" type="video/mp4">
	    </video>
		{% endif %}
	</div>
	<div class="container max-text-width">
		<h5 class="h2 align-center">
			{{ block.text }}
		</h5>
		{% if block.buttons %}
			<div class="pt-3">
				<div class="grid-flex tight-gutter center no-break">
					{% for button in block.buttons %}
						{% if button.button_link.title %}
							<div class="col mb-2">
								<a href="{{ button.button_link.url }}" target="{{button.button_link.target}}" class="{{ button.color }} button large transition-link">{{ button.button_link.title }}</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</section>