{% extends "base.twig" %}

{% block content %}
	
	<div class="explore-page" id="explore-page-swipe">
		<div class="explore-overlay">
			<p class="h6 bold"><span class="show-lg">Swipe</span><span class="hide-lg">Click</span> images to explore <span class="material-icons md-36">keyboard_arrow_right</span></p>
		</div>
		<div class="prev">Prev</div>
		<div class="next">Next</div>
		<div class="slideshow explore-slideshow">
			{% for i in post.get_field('image_gallery') %}
				<div class="slide" data-imageID="{{i.id}}">
					<div class="{% if i.width / i.height > 1 %}slide-landscape{% else %}slide-portrait{% endif %}">
						<div class="explore-wrap" data-image-id="{{i.id}}" data-image-src="{{i.url}}" data-image-alt="{% if i.alt %}{{ i.alt }}{% else %}{{ i.title }}{% endif %}">
							{% if loop.index == 1 %}
								<img src="{{ i.url }}" alt="{% if i.alt %}{{ i.alt }}{% else %}{{ i.title }}{% endif %}">
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
