{% extends "base.twig" %}

{% block content %}
<div class="films-page">
	<div class="container">
		<div class="categories">
			<div class="grid-flex center middle">
				{% for category in all_categories %}
					<div class="col">
						<p class="h6 film-category" data-category-id={{category.id}}>{{category.name}}</p>
					</div>
				{% endfor %}
					<div class="col">
						<p class="h6 film-category" data-category-id="all">View All</p>
					</div>
			</div>
		</div>
		<div class="grid-flex">
			{% for video in videos %}
				{% if video.thumbnail and video.vimeo_id %}
					{% set category_ids = [] %}
						{% for cats in video.terms %}
							{% set category_ids = category_ids|merge([cats.term_id])%}
						{% endfor %}
					<div class="col-6 film-thumb-wrapper" data-category-id="{% if category_ids %}{{category_ids|join(',')}}{% else %}n{% endif %}" data-video-id="{{video.vimeo_id}}">
						<div class="film-thumb pb-3 trigger film-modal-trigger" data-video-id="{{ video.vimeo_id }}">
							<div class="set-ratio-16-9">
								<div class="lazy-wrap lazyload object-cover">
									<img src="{{ TimberImage(video.thumbnail).src('gw-lg-16-9') }}">
								</div>
							</div>
							<div class="pt-gutter thumb-info align-center">
								<p class="medium-weight">{{ video.title }}</p>
								<p>{{ video.caption.secondary_caption }}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="modal-wrap film-modal">
		<div class="overlay"></div>
		<div class="modal" id="film-modal-slide">
			<div class="close-modal"><span class="material-icons md-24">close</span></div>
			<div class="arrow-nav">
				<p class="prev-arrow">
					<span class="material-icons md-36">keyboard_arrow_left</span>
				</p>
				<p class="next-arrow">
					<span class="material-icons md-36">keyboard_arrow_right</span>
				</p>
			</div>
			<div class="film-slideshow">
			{% for video in videos %}
				{% if video.thumbnail and video.vimeo_id %}
					{% set category_ids = [] %}
						{% for cats in video.category %}
							{% set category_ids = category_ids|merge([cats.term_id])%}
						{% endfor %}
					<div class="slide px-margin" data-category-id="{% if category_ids %}{{category_ids|join(',')}}{% else %}n{% endif %}" data-video-id="{{video.vimeo_id}}">
						<div class="slide-content">
							<div class="video-wrap lazyload lazy-wrap" data-permalink="{{video.link}}">
								<iframe id="aboutVideo" src="https://player.vimeo.com/video/{{ video.vimeo_id }}?&color=FFFFFF&title=0&byline=0&portrait=0" width="1200" height="675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>
							</div>
							<div class="align-center caption">
								<p class="medium-weight">{{ video.caption.primary_caption }}</p>
								<p>{{ video.caption.secondary_caption }}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>

</div>
{% endblock %}
