{% extends "base.twig" %}

{% block content %}

<div class="photography-page page-body-transition">
	<div class="photography-content">
		<div class="container">
			<div class="staggered-photo-grid grid-view" data-columns>
				{% for i in post.get_field('image_gallery') %}
					<div>
					<div class="item">
								<div class="photo-thumb-wrapper">
								<div
									class="lazy-wrap lazyload photo-thumb photo-modal-trigger"
									data-modal-id="photo-modal-{{ i.id }}"
									style="padding-bottom: {{ i.height / i.width * 100}}%"
								>
									<img 
										srcset="{{ TimberImage(i).src('sukkar-thumb') }} 750w,
											{{ TimberImage(i).src('gw-md') }} 1200w,
											{{ TimberImage(i).src('gw-lg') }} 1500w,
											{{ TimberImage(i).src('sukkar-lg') }} 2001w" 
										src="{{ TimberImage(i).src('sukkar-thumb') }}"
										alt="{% if i.alt %}{{ i.alt }}{% else %}{{ i.title }}{% endif %}"
										data-imageID="{{i.id}}"
										data-permalink="{{i.link}}"
										width="{{ i.width }}"
										height="{{ i.height }}"
										>
								</div>
							</div>
						<div class="item-caption pt-gutter align-center">
							<p class="medium-weight">{{ i.title }}</p>
							{% if i.caption %}
								<p class="mt">{{ i.caption }}</p>
							{% endif %}
						</div>
					</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="modal-wrap photo-modal">
		<div class="overlay"></div>
			<div class="modal" id="photo-modal-slide">
				<div class="close-modal"><span class="material-icons md-24">close</span></div>
				<div class="arrow-nav">
					<p class="prev-arrow hidden">
						<span class="material-icons md-36">keyboard_arrow_left</span>
					</p>
					<p class="next-arrow">
						<span class="material-icons md-36">keyboard_arrow_right</span>
					</p>
				</div>
				<div class="photo-slideshow">
					{% for i in post.get_field('image_gallery') %}
						{% if i.url %}
							<div class="slide" data-imageID="{{i.id}}">
								<div class="pt-margin slide-content">
									<div class="image-wrap" 
									data-image-id="{{i.id}}" 
									data-image-src='srcset="{{ TimberImage(i).src('gw-md') }} 1200w,{{ TimberImage(i).src('gw-lg') }} 1500w,{{ TimberImage(i).src('sukkar-lg') }} 2001w" src="{{ TimberImage(i).src('gw-md') }}"' data-permalink="{{i.link}}">

										{% if loop.index < 4 %}
											<img 
												srcset="{{ TimberImage(i).src('gw-md') }} 1200w,
													{{ TimberImage(i).src('gw-lg') }} 1500w,
													{{ TimberImage(i).src('sukkar-lg') }} 2001w" 
												src="{{ TimberImage(i).src('gw-md') }}"
											>
										{% endif %}

									</div>
									<div class="align-center caption">
										<p class="medium-weight">{{ i.title }}</p>
										{% if i.caption %}
											<p class="mt">{{ i.caption }}</p>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
	</div>
</div>

{% endblock %}
