{% extends "base.twig" %}

{% block content %}

<div class="photography-page">
	<div class="container">
		<div class="staggered-grid">
			{% for i in post.get_field('image_gallery') %}
				<div class="item">
					<div class="lazy-wrap lazyload">
						<img src="{{ i.url }}" alt="{% if i.alt %}{{ i.alt }}{% else %}{{ i.title }}{% endif %}">
					</div>
					<div class="item-caption pt-gutter align-center">
						<p class="medium-weight">{{ i.title }}</p>
						<p>{{ i.caption }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
